div {
    width: 100px;
    height: 100px;
    background-color: #FFBE0B;
    padding: 15 px;
    p {
        font-size: 20px;
        color: #FFBE0B;
        font-family: 'Courier New', Courier, monospace;
    }
}